[Desktop Entry]
Type=Application
Version=1.1
Name=pepFoot
GenericName=pepFoot
Comment=Graphical user interface application for semi-automated processing of protein footprinting data
Icon=pepFoot
Exec=pepfoot
Terminal=false
